html {
  height: 100%;
  width: 100%;
  background-color: rgb(82, 174, 50);
}
.link-image {
  width: 30%;
}
.link-image:hover {
  width: 35%;
}
.info {
  width: 50%;
  min-height: 100%;
  background-color: #262626;
  margin: 0 auto;
}
body {
  display: inline;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.info form {
  display: block;
  width: 80%;
  margin: auto auto;
}
.container {
  text-align: center;
  color: white;
  font-family: 'Graduate', cursive;
}
.text-container {
  width: 80%;
  margin: 0 auto;
  background-color: #333333;
  font-family: 'Graduate', cursive;
  color: white;
  text-align: center;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 3em;
  color: white;
  font-family: 'Graduate', cursive;
  font-size: 1vw;
  background-color: rgb(82, 174, 50);
  border: 0;
  cursor: pointer;
    -webkit-transition: height .3s;
    transition: height .3s;

}
button:hover {
  height: 5em;
  background-color: #003300;
}
a {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  width: 20%;

}
form {
  height: auto;
  padding-top: 30px;
}
input {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #333333;
  border: 0;
  padding: 0;
  height: 30px;
  color: white;
  font-family: 'Graduate', cursive;
}
.errormessages {
  -webkit-animation: fadeOut 3s;
  animation: fadeOut 3s;
  background-color: #333333;
  font-family: 'Graduate', cursive;
  color: white;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  width: 50%;
  height: auto;
}
@-webkit-keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}
@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}
@media only screen and (max-width: 1000px) {
  .text-container {
    width: 100%;
  }
  .info {
    width: 100%;
    position: unset;
    height: -webkit-fill-available;
  }
  button {
    width: 100%;
    font-size: 4vw;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
